version: "3"
services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "${SERVER_PORT:-8080}:8080"
    environment:
      - SERVER_PORT=${SERVER_PORT:-8080}
      - DB_HOST=${DB_HOST:-localhost}
      - DB_PORT=${DB_PORT:-3306}
      - DB_NAME=${DB_NAME:-test}
      - DB_USER=${DB_USER:-root}
      - DB_PASSWORD=${DB_PASSWORD:-root}
      - JWT_ISSUER=${JWT_ISSUER:-jwt-issuer}
      - JWT_AUDIENCE=${JWT_AUDIENCE:-jwt-audience}
      - JWT_SECRET=${JWT_SECRET:-jwt-secret}
      - JWT_COOKIE_DOMAIN=${JWT_COOKIE_DOMAIN:-backend}
      - JWT_COOKIE_PATH=${JWT_COOKIE_PATH:-/}
      - JWT_COOKIE_NAME=${JWT_COOKIE_NAME:-refresh_token}
      - ACCESS_TOKEN_EXPIRY=${ACCESS_TOKEN_EXPIRY:-900}
      - REFRESH_TOKEN_EXPIRY=${REFRESH_TOKEN_EXPIRY:-604800}

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "90:90"

  website:
    build:
      context: ./website
      dockerfile: Dockerfile
    ports:
      - "3000:3000"

  nginx:
    build:
      context: ./infrastructure/nginx
      dockerfile: Dockerfile
    ports:
      - "80:80"
      - "443:443"
