#customer-booking-selection-page #footer {
	font-size: 20px;
	font-weight: 600;
	display: block;
	text-align: center;
}

#customer-booking-selection-page #footer .footer-button {
	width: 250px;
	margin: 15px auto;
}
