#next-day-button {
	background-color: var(--secondaryColor);
	width: 25px;
	height: 50px;
	padding: 0;
	border-radius: 5px;
	border: none;
}

#next-day-button:disabled {
	opacity: 0.5;
	cursor: not-allowed !important;
}

#next-day-button:hover {
	cursor: pointer;
}
