#admin-booking-vehicle-types {
	margin-bottom: 20px;
}

#admin-booking-vehicle-types .section-title {
	margin-bottom: 10px;
}

#admin-booking-vehicle-types .vehicle-types-list {
	margin-bottom: 10px;
}
