#previous-day-button {
	width: 25px;
	height: 50px;
	padding: 0;
}

#previous-day-button:disabled {
	opacity: 0.5;
	cursor: not-allowed !important;
}

#previous-day-button:hover {
	cursor: pointer;
}
