#select-list-inline {
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	gap: 10px;
}

#select-list-inline #select-list-item {
	width: 100%;
	text-align: center;
	background-color: var(--secondaryColorLight);
}
