#admin-app {
	display: flex;
	flex-direction: row;
	justify-content: left;
	height: 100vh;
	overflow: hidden;
}

#admin-app #admin-app-content {
	width: 100%;
	padding: 20px;
	overflow-y: auto;
	box-sizing: border-box;
}

@media screen and (max-width: 800px) {
	#admin-app {
		flex-direction: column;
	}
}
