#booking-details-modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

#booking-details-modal .modal-container {
	background: white;
	padding: 20px;
	border-radius: 10px;
	width: 80% !important;
	max-width: 500px;
	position: relative;
}

#booking-details-modal .booking-table table {
	width: 100%;
	margin: 0 auto;
	padding: 10px;
	border-radius: 5px;
	background-color: var(--secondaryColorLight);
	text-align: left;
}

#booking-details-modal .modal-heading {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 10px;
}

#booking-details-modal .modal-heading .modal-title {
	font-weight: 600;
	font-size: 20px;
}

#booking-details-modal .modal-heading .close-modal-button {
	cursor: pointer;
}

#booking-details-modal .modal-footer {
	width: 220px !important;
	margin: 0 auto;
	margin-top: 10px;
}
